.slider{
    text-align: center;
}
.item{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
}
.item>p{
    visibility: hidden;
}
.skill-icon{
    font-size: 44px;
    cursor: pointer;
    transition: 0.3s;
}
.skill-icon:hover{
    transform: scale(1.2, 1.2);
}