.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 3rem 0 3rem 0;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
}
.portfolio_item:hover{
    border-color: var(--color-bg);
    background: transparent;
}
.portfolio_item .btn:hover{
   color: var(--color-white);
    background: var(--color-bg);
}
.portfolio_item_image{
    border-radius: 1.5rem;
    overflow: hidden;
    border: 4px solid white;
}
.portfolio_item h3{
    margin: 1.2rem 0 1rem;
}
.portfolio_item_cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}
.see-more-btn{
    text-align: center;
    margin-top: 20px !important;
}
.see-more-btn .btn{
    box-shadow: 0 0 0 0 var(--color-bg);
    animation: pulse 2s cubic-bezier(.25,0,0,1) 2s infinite;
}
@keyframes pulse {   
    100% {
        box-shadow: 0 0 0 18px hsla(0,0%,100%,0);
    }
}
/* =========Media quries (medium devices ========*/
@media screen and (max-width: 1024px) {
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
  }
  
  /* =========Media quries (small devices ========*/
  @media screen and (max-width: 600px) {
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
  }
  