footer{
    background: var(--color-bg);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    position: relative;
}
footer a {
    color: var(--color-white);
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.permalinks li{
    transition: 0.7s;
}
.permalinks li:hover{
    transform: scale(1.1, 1.1);
}

.footer_socail{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
    flex-wrap: wrap !important;
}
.footer_socail a{
    font-size: 18px;
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    transition: 0.5s;
}
.footer_socail a:hover{
    background: transparent;
    color: var(--color-white);
    transform: scale(1.5, 1.5);
}
.footer_copyright{
    text-align: left;
    margin-bottom: -3rem;
    margin-left: 3rem;
    color: var(--color-white);
}
.active{
    width: 50px;
    height: 50px;
    background-color: var(--color-bg);
    border: 1px solid transparent;
    border-color: var(--color-white);
    border-radius: 0.3rem;
    position: absolute;
    bottom: -5rem;
    right: 5rem;
    transition: 0.3s linear;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    z-index: 999;
}
.up a{
    color: var(--color-white);
    font-size: 24px;
}
.hidden{
    z-index: 40;
    position: fixed;
    bottom: 5rem;
    transition: 0.3s linear;
}
  /* =========Media quries (small devices ========*/
  @media screen and (max-width: 600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer_socails{
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
    }
    .active{
        display: none;
    }
  }
  






